<main>
    <div table-responsive custom_table_outer_container>
        <table class="table caption-top table-striped table-bordered custom_table">
            <thead>
                <tr>
                    <th id="custom_col" scope="col">Sr. No.</th>
                    <th id="custom_col" scope="col">Name</th>
                    <th id="custom_col" scope="col">Status</th>
                    <th id="custom_col" scope="col">Submitted By</th>
                    <th id="custom_col" scope="col">Submitted On</th>
                    <th id="custom_col" scope="col">Performance</th>
                    <th id="custom_col" scope="col">Feedback</th>
                    <th id="custom_col" scope="col">Add Performance</th>
                    <th id="custom_col" scope="col">Edit Performance</th>
                    <th id="custom_col" scope="col">Delete Performance</th>
                </tr>
            </thead>
            <tbody>
                <%performances.forEach((p, index)=>{%>
                    <tr>
                        <th id="custom_col" scope="row">
                            <%=index+1%>
                        </th>
                        <td id="custom_col">
                            <%= user.first_name %> <%= user.last_name %>
                        </td>
                        <td id="custom_col">
                            <%= p.status %>
                        </td>
                        <td id="custom_col">
                            <%= p.posted_by_user %>
                        </td>
                        <td id="custom_col">
                            <%= p.createdAt.toLocaleDateString() %>
                        </td>
                        <td id="custom_col">
                            <%= p.content %>
                        </td>
                        <td id="custom_col">
                            <%= p.feedback %>
                        </td>
                        <td id="custom_col">
                            <a href="/admin/performance?userid=<%= user._id %>"><i class="bi bi-plus-lg"></i></a>
                        </td>
                        <td id="custom_col">
                            <div id="rights"><a href="/admin/performance?userid=<%= user._id %>">
                            <i class="bi bi-pencil"></i></a>
                            </div>
                        </td>
                        <td id="custom_col">
                            <div id="rights">
                                <a href="/admin/performance?userid=<%= user._id %>"><i class="bi bi-trash"></i></a>
                            </div>
                        </td>
                    </tr>
                    <%})%>
            </tbody>
        </table>
    </div>
</main>